{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}



    <!-- Spotify Aktueller Track -->
    {% if track_info %}
        <div class="track-container">
            <!-- Album Cover -->
            <div class="album-cover-container">
                <img src="{{ track_info['cover_url'] }}" alt="Album Cover" class="album-cover">
            </div>

            <!-- Track Information -->
            <div class="track-info">
                <div class="wrapper">
                    <div class="track-name">{{ track_info['track_name'] }} </div>
                    <!-- Track <div class="track-name2">{{ track_info['track_name'] }} </div> -->
                </div>
                <div class="artist-name">{{ track_info['artist_name'] }}</div>
                <div class="genre-name">{{ track_info['genre'] }}</div>
            </div>
        </div>
    {% else %}
        <p>Es wird derzeit kein Track abgespielt.</p>
    {% endif %}


    <!-- Genres, die jemals gehört wurden -->
    <!-- <h3>Genres, die du jemals gehört hast:</h3> -->
    {% if genres %}
        <form method="POST" action="/save_genre_colors">
            <div class="genre-box-container">
                {% for genre in genres["genres"] %}
                    <div class="genre-box" style="background-color: {{ pastel_colors.get(genre, '#FFFFFF') }};">
                        <span>{{ genre }}</span>
                        <!-- Farbwähler für jedes Genre -->
                        <input type="color" name="color_{{ genre }}" id="color_{{ genre }}" value="{{ genre_colors.get(genre, '#FFFFFF') }}">
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="save-color-btn" >Save Color</button>
        </form>
    {% else %}
        <p>Keine Genres verfügbar.</p>
    {% endif %}

    <div class="top-stats">
        <div class="top-three_header">
            <h2>Top Artists</h2>
        </div>

        <div class="top-three">
            {% if tops.top_artists %}
                <ul>
                    {% for artist in tops.top_artists %}
                        <li>{{ artist['artist_name'] }} - <span>{{ artist['play_count'] }} Plays</span></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Keine Top-Künstler verfügbar.</p>
            {% endif %}
        </div>

        <div class="top-three_header">
            <h2>Top Genres</h2>
        </div>

        <div class="top-three">
            {% if tops.top_genres %}
                <ul>
                    {% for genre in tops.top_genres %}
                        <li style="color: {{ pastel_colors.get(genre['genre'], '#000') }}">
                            {{ genre['genre'] }} - <span>{{ genre['genre_count'] }} Plays</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Keine Top-Genres verfügbar.</p>
            {% endif %}
        </div>
    </div>

    <!-- Prev Button -->
    <div class="color-bar">
        <form method="POST" action="/prev_track" style="display: inline-block;">
            <button class="prev-button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="skip-icon">
                    <path d="M432 448V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v153.6L75.8 37.3C67.6 31.3 56.7 32 48.7 39.3S32 57.9 32 67.7v376.5c0 9.8 5.8 18.4 14.7 22.7s18.9 4 27.1-2.1l292.2-180.3V448c0 17.7 14.3 32 32 32s32-14.3 32-32z"/>
                </svg>
            </button>
        </form>
        <!-- Play/Pause Button -->
        <form method="POST" action="/pause" style="display: inline-block;">
            <label class="playpause-container">
                <input type="checkbox" name="pause" onchange="this.form.submit()" {{ 'checked' if pause_state else '' }} />
                <svg class="play" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                    <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"></path>
                </svg>
                <svg class="pause" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                    <path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"></path>
                </svg>
            </label>
        </form>
        <!-- Skip Button -->
        <form method="POST" action="/skip_track" style="display: inline-block;">
            <button class="skip-button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="skip-icon">
                    <path d="M432 448V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v153.6L75.8 37.3C67.6 31.3 56.7 32 48.7 39.3S32 57.9 32 67.7v376.5c0 9.8 5.8 18.4 14.7 22.7s18.9 4 27.1-2.1l292.2-180.3V448c0 17.7 14.3 32 32 32s32-14.3 32-32z"/>
                </svg>
            </button>
        </form>
    </div>




    <div class="piechart">
        {% if barplot %}
            <div class="plot-container">
                <img src="data:image/png;base64,{{ barplot }}" alt="Genre Plot" />
            </div>
        {% else %}
            <p>Could not generate plot for the user.</p>
        {% endif %}
    </div>



<script>
    // Timeout ID speichern, um es später anzuhalten
    let refreshTimeout;

    // Funktion zum erneuten Laden der Seite alle 10 Sekunden
    function refreshPage() {
        refreshTimeout = setTimeout(function() {
            location.reload();  // Seite wird neu geladen
        }, 5000);  // 5000 Millisekunden = 5 Sekunden
    }

    // Initialisierung der Funktion, um die Seite alle 5 Sekunden neu zu laden
    refreshPage();

    // Funktion, um das Neuladen zu stoppen
    function stopRefresh() {
        clearTimeout(refreshTimeout);  // Stoppe das automatische Neuladen
    }

    // Event-Listener für den Farbauswahl-Input
    document.querySelectorAll('input[type="color"]').forEach(function(input) {
        input.addEventListener('focus', stopRefresh); // Stoppt das Neuladen, wenn der Farbwähler fokussiert wird
        input.addEventListener('blur', refreshPage);  // Startet das Neuladen, wenn der Farbwähler den Fokus verliert
    });

    // Wenn der Benutzer auf "Speichern" klickt, stoppt ebenfalls das Neuladen
    document.querySelector('button[type="submit"]').addEventListener('click', stopRefresh);
    // Stoppt das Neuladen beim Hover über den Track-Name
    const trackName = document.querySelector('.track-name');
    trackName.addEventListener('mouseenter', stopRefresh); // Stoppe das Neuladen beim Betreten des Elements
    trackName.addEventListener('mouseleave', refreshPage); // Starte das Neuladen beim Verlassen des Elements

     // Fügt ein sofortiges Neuladen hinzu, wenn der Skip-Button geklickt wird
    const skipButton = document.querySelector('.skip-button');
    skipButton.addEventListener('click', function() {
        location.reload(); }); // Sofortiges Neuladen der Seite

    // Fügt das sofortige Neuladen auch für den Prev-Button hinzu
    const prevButton = document.querySelector('.prev-button');
    prevButton.addEventListener('click', function() {
        location.reload(); }); // Sofortiges Neuladen der Seit
</script>

{% endblock %}
